#root {
    position: relative;
}

.App {
    text-align: center;
    margin-top: 200px;
}

.textCenter {
    text-align: center;
}

@keyframes goToRight {
    from {
        left: 0;
    }
    to {
        left: 150px;
    }
}

@keyframes goToLeft {
    from {
        right: 0;
    }
    to {
        right: 150px;
    }
}

.launchRightAnimation {
    animation-name: goToRight;
    animation-duration: 2s;
    left: 150px;
}

.launchLeftAnimation {
    animation-name: goToLeft;
    animation-duration: 2s;
    right: 150px;
}

.leftCardContainer,
.rightCardContainer,
.vs {
    position: relative;
    display: inline-block;
    width: 33.333333%;
}

.leftCard,
.rightCard {
    position: relative;
    width: 226px;
    height: 314px;
}

#texte {
    height: 18px;
}

#validate {
    display: none;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#overlay > div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    width: 80%;
    transform: translate(-50%, -50%);
}

#overlay a, #overlay a:visited, #overlay a:focus {
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
}

.leftCardContainer {
    z-index: 1;
}

.vs p {
    position: relative;
    top: -145px;
    font-size: 50px;
}

.loserCard {
    opacity: 0.5;
}
